*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.button-color{
    width: 150px;
    height: 50px;
    background-color: darkorchid;
    /* font-size: 15px; */
    line-height: 20px;
        
    
  
}

